[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uplink = {git = "https://github.com/prkumar/uplink.git", editable = true}
"e1839a8" = {path = ".", editable = true, extras=["tests"]}

[dev-packages]
pre-commit = "*"
tox = "*"
